.tiptap {
  min-height: 180px;
  outline: none;
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  padding: 0;
}

.tiptap p {
  margin: 0 0 8px 0;
}

.tiptap ul,
.tiptap ol {
  padding-left: 20px;
}

.tiptap:focus {
  outline: none;
}

.tiptap * {
  white-space: pre-wrap;
  word-break: break-word;
}

.tiptap ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.tiptap ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.tiptap li {
  margin: 4px 0;
}